
@import url('normalize.css');

/* ==|== Fonts ==================================================================================
	The main font style.
   ============================================================================================== */


body {
	color: #eee;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
}

a,
a:visited,
a:active {
	color: #eee;
	text-decoration: none;
}



/* ==|== Body ===================================================================================
	The main structure of the site.
   ============================================================================================== */

html, body {
	height: 100%;
	background: #333 url('../img/body-bg.png');
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px 220px; /* Set the bottom margin to same value as footer-push */
}

#container {
	min-height: 300px;
	padding: 20px 20px 0;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .1), rgba(0, 0, 0, 0) 300px);
	background: -webkit-gradient(linear, 0 0, 0 300, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, 0)));  
}

.clear {
	clear: both;
}



/* ==|== Header =================================================================================
	The site header with logo.
   ============================================================================================== */

header {
	height: 1px;
}



/* ==|== Nav ====================================================================================
	The navigation with links.
   ============================================================================================== */



/* ==|== Sidebar ===============================================================================
	The sidebars.
   ============================================================================================== */

#sidebar {
	float: left;
	width: 220px;
	height: 100%;
	background: #222 url('../img/sidebar-bg.png');
	position: fixed;
}



/* ==|== Content ================================================================================
	The content area. The place where all the good stuff is put.
   ============================================================================================== */



/* ==|== Movie Details ==========================================================================
	
   ============================================================================================== */



/* ==|== Movieall ===============================================================================
	movieall.php
   ============================================================================================== */

/*	Movieall Charchooser
 * =============================================== */
.movieall-charchooser {
	text-align: center;
	margin: 0 0 20px 0;
}
	
.movieall-charchooser a {
	padding: 0 5px;
}

/*  Coverframe
 * =============================================== */
.coverframe {
	float: left;
	width: 122px;
	margin: 0 20px 20px;
}

.coverframe-picture {
	min-height: 150px;
	width: 120px;
	height: auto;
	margin: 0 0 5px 0;
	border: 1px solid #000;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, .3);
}

.poster-picture {
	width: 120px;
	height: auto;
	opacity: 0;
}

.watched-overlay {
	height: 44px;
	width: 44px;
	position: absolute;
	margin-left: 76px;
}

.coverframe-text {
	text-align: center;
	font-size: 12px;
}



/* ==|== Footer =================================================================================
	The footer of the page with disclaimers and stuff.
   ============================================================================================== */
.footer-push {
	height: 100px;
	clear: both;
}

footer {
	margin: 0 0 0 200px;
}